.main-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px 200px 200px;
}


.card-wrapper {
  grid column: 3 / span 9;
}


//header
.header {

}

.header__heading {
	padding: 20px;
	text-align: center;
}

.header__search-bar {
   float: right;
   border: 1px solid #454545;
   min-width: 220px;
   padding: 5px;
}


