.main-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px 200px 200px;
}

.header-searchbar {
  grid column: 1 / span 12;
}

.header-title {
  text-align: center;
}

.search-bar {
  float: left;
  border: 1px solid #454545;
}