.collapsible-hero {
  background: url(http://via.placeholder.com/1600x500) no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px 200px 200px;
  height: 500px;
}


.collapsible-hero--content {
  grid-column: 2 / span 2;
  // grid-column-start: 2;
  // grid-column-end: five;
  // grid-row-start: row1-start;
  // grid-row-end: 3;
  grid-row: 2 / span 4;
}


#close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}